*{
    margin: 0;
}

.about-us{
    display: flex;
}

.left-about{
    border: 2px solid black;
}

.mission{
    border: 2px solid black;
}
.vision{
    border: 2px solid black;
}

 img{
    justify-items: center;
    display: flex;
    margin: auto;
}
 /* h1 {
    background: purple;
    box-sizing: border-box;
    text-align: center;
    color: white;
    border: 2px solid blue;
    border-radius: 100px;
}
h1{
    border: 2px solid red;
} */